<div class="vstags">
    <div class="vstagsgroup">
        <div ng-if="showOverlay" ng-include="'templates/vstagsoverlay.html'"></div>
        <div class="vstagsarea">
            <div ng-include="'templates/vstagsrepeat.html'"></div>
        </div>
        <span class="vsbtncontainer">
            <button class="vstagsbtn" ng-click="showOverlay=true" ng-show="showTagsBtn"><span class="icon icon-selections"></span></button>
            <button class="vstagsbtn" ng-click="addNewItem()"><span class="icon" ng-class="{'icon-plus':!showInput,'icon-check':showInput}"></span></button>
            <span class="vstagsselectioncounttxt" ng-if="showTagsBtn" ng-click="showOverlay=true">{{selectedTags.length}}</span>
        </span>
    </div>
    <input class="vstagsinput" type="text" placeholder="{{conf.TYPE_TAG_TXT}}" input-focus ng-show="showInput" ng-model="inputTxt" ng-model-options="{debounce:conf.INPUT_DEBOUNCE}" ng-keydown="keyDown($event)"/>
    <div class="vstagsloader" ng-show="showInput&&inputTxt!==''&&loadedTags.length>0">
        <div class="vstagsloaderitem" ng-repeat="item in loadedTags track by $index" ng-click="itemClicked(item)" ng-keydown="$event.which===13?itemClicked(item):null" tabindex="0">
            <span class="vstagsloaderitemtxt">{{item}}</span>
        </div>
    </div>
</div>